html, body {
  background-color: #000000;
}

/* Selecting all art elements on the page */
body div {
  /* Inline-block allows the art-items to be side by side inline */
  display: inline-block;
  
  /* Because all components of each art item have closing tags now,
  *  the parent of each component is the art item rather than the
  *  div before it. This means each component (e.g. crust, cheese etc.)
  *  is now positioned (top: x; left: x; etc) according the dimensions
  *  of the art item. A.k.a, you could apply 'right: 50px' and it
  *  would apply 50px from the right of the art item-
  *  -element (e.g. '.pizza'.)
  */
  position: relative;
  width: 400px;
}

.pizza {
  top: 50px;
  left: -50px;
}

.pizzaCrust {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 250px solid #F27405;
}

.cheese {
  position: absolute;
  top: -210px;
  left: -84px;
  width: 0;
  height: 0;
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-top: 209px solid #F2E52E;
}

.pepperoni01 {
  position: absolute;
  top: 150px;
  left: 210px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.pepperoni02 {
  position: absolute;
  top: 200px;
  left: 160px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.pepperoni03 {
  position: absolute;
  top: 270px;
  left: 185px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.glass01 {
  position: absolute;
  top: 173px;
  left: 54px;
  width: 100px;
  height: 200px;
  background: #22F2F2;
}

.glass02 {
  position: absolute;
  top: 150px;
  left: 54px;
  width: 100px;
  height: 50px;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  background: #22F2F2;
}

.handle01 {
  position: absolute;
  top: 200px;
  left: 103px;
  width: 100px;
  height: 150px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #22F2F2;
}

.handle02 {
  position: absolute;
  top: 225px;
  left: 128px;
  width: 50px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #000;
}

.actualBeer {
  position: absolute;
  top: 194px;
  left: 54px;
  width: 100px;
  height: 180px;
  background: #F2E52E;
}

.ridge01 {
  position: absolute;
  top: 210px;
  left: 68px;
  width: 10px;
  height: 150px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.ridge02 {
  position: absolute;
  top: 210px;
  left: 88px;
  width: 10px;
  height: 150px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.ridge03 {
  position: absolute;
  top: 210px;
  left: 108px;
  width: 10px;
  height: 150px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.ridge04 {
  position: absolute;
  top: 210px;
  left: 128px;
  width: 10px;
  height: 150px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.cone {
  position: absolute;
  top: 170px;
  left: 47px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 250px solid #F27405;
}

.iceCream01 {
  position: absolute;
  top: 153px;
  left: 37px;
  width: 120px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F24182;
}

.iceCream02 {
  position: absolute;
  top: 128px;
  left: 47px;
  width: 100px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F24182;
}

.iceCream03 {
  position: absolute;
  top: 103px;
  left: 57px;
  width: 80px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F24182;
}

.iceCream04 {
  position: absolute;
  top: 170px;
  left: 97px;
  width: 40px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F24182;
}

.cherry {
  position: absolute;
  top: 76px;
  left: 82px;
  width: 35px;
  height: 35px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.handleCoffee01 {
  position: absolute;
  top: 235px;
  left: 44px;
  width: 100px;
  height: 110px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0D8BD9;
}

.handleCoffee02 {
  position: absolute;
  top: 245px;
  left: 54px;
  width: 80px;
  height: 90px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #000;
}

.mug {
  position: absolute;
  top: 214px;
  left: -21px;
  width: 125px;
  height: 150px;
  border-radius: 10px;
  background: #0D8BD9;
}

.steam01 {
  position: absolute;
  top: 120px;
  left: 3px;
  width: 55px;
  height: 75px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F2E52E;
}

.steam02 {
  position: absolute;
  top: 110px;
  left: -12px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F2E52E;
}

.steam03 {
  position: absolute;
  top: 150px;
  left: 33px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #F2E52E;
}

.donut01 {
  position: absolute;
  top: 170px;
  left: -52px;
  width: 200px;
	height: 200px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background: #F27405;
}

.donut02 {
  position: absolute;
  top: 235px;
  left: 8px;
  width: 75px;
	height: 75px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #000;
}

.sprinkles01 {
  position: absolute;
  top: 223px;
  left: 68px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #22F2F2;
}

.sprinkles02 {
  position: absolute;
  top: 337px;
  left: 100px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #22F2F2;
}

.sprinkles03 {
  position: absolute;
  top: 346px;
  left: 8px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #F24182;
}

.sprinkles04 {
  position: absolute;
  top: 254px;
  left: 100px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #F24182;
}

.sprinkles05 {
  position: absolute;
  top: 204px;
  left: -3px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #F2E52E;
}

.sprinkles06 {
  position: absolute;
  top: 316px;
  left: 8px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #F2E52E;
}

.sprinkles07 {
  position: absolute;
  top: 265px;
  left: -12px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #0D8BD9;
}

.sprinkles08 {
  position: absolute;
  top: 265px;
  left: 120px;
  width: 5px;
	height: 5px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	background: #0D8BD9;
}